

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
    background-color: rgb(244, 234,140);


    font-family: 'Pacifico', cursive; /* Fonte fofinha pra Amalia amostradinha*/
    text-align: center;
    justify-content: space-around;
    display: block;
    width: 50%;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Organiza os itens na vertical */
    align-items: center; /* Centraliza os itens */
    min-height: 100vh; /* Garante que o container ocupe toda a altura da tela */
    justify-content: center; /* Alinha os itens no centro da página */
  }
  
  .texto {
    margin-bottom: 20px; /* Espaço entre o texto e a imagem */
    padding: 0 10px; /* Garante que o texto tenha um pequeno espaçamento nas laterais */
    text-align: center; /* Centraliza o texto (opcional) */
  }
  
 



button {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    padding: 15px;
    font-size: 20px; /* Aumentando a fonte do botão */
    text-align: center;
    background-color: #ff66b2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px; /* Botões mais arredondados */
    transition: transform 0.2s ease;
}

.text {
flex-direction: center;
  }



button :hover {
    transform: scale(1.1);
}


button sim {
    background-color: #ff66b2;
}

button nao {
    background-color: #ff0000;
}


h1 {
    color: rgb(249, 255, 192); /* Cor do texto */
    background-color: rgba(240, 6, 220, 0.5); /* Fundo semitransparente para melhorar a leitura */
    border: 3px solid black; /* Borda preta ao redor */
    padding: 200px; /* Espaço interno para afastar o texto da*/
}



